SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/agriplataforma
SPRING_DATASOURCE_USERNAME=agri
SPRING_DATASOURCE_PASSWORD=agri
AGRIPLATAFORMA_ID_TENANT_SEMEADO=11111111-1111-1111-1111-111111111111
VITE_API_URL=http://localhost:8080
